*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin:auto;
    padding:0;
    background-color: var(--background);
    position: relative;
}

.title {
    color: #4A4A4A;
    font-family: Inconsolata;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    padding-top: 131px;
}

.resources {
    color: #4A4A4A;
    font-family: Inconsolata;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

a {
    text-decoration: none;
    color: #4A4A4A;
    font-family: Inconsolata;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.ds {
    padding-top: 110px;
}

.tg, .inst, .bh, .gh, .dsserv, .tgchan {
    padding-top: 35px;
}

.end__sign {
    color: #4A4A4A;
    font-family: Inconsolata;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 110px;
}

a:hover {
    color: #22494F;
}